body{
	padding: 0;
	margin: 0;
	font-family: monospace;
}
#wrapper{
	display: flex;
}

#wrapper .login-panel{
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}
#wrapper .login-form{
	display: flex;
	padding: 2vh 2vw;
	padding-bottom: 5vh;
	border-radius: 2vh;
	flex-direction: column;
	background: white;
	box-shadow:
  0px 0px 3.6px rgba(0, 0, 0, 0.024),
  0px 0px 10px rgba(0, 0, 0, 0.035),
  0px 0px 24.1px rgba(0, 0, 0, 0.046),
  0px 0px 80px rgba(0, 0, 0, 0.07);
}
#wrapper .login-form h2{
	text-align: center;
	margin-bottom: 2vh;
}
#wrapper .login-form .form-group{
	display: flex;
	flex-direction: column;
	margin-top: 3vh;
}
#wrapper .login-form .form-group input{
	width: 20vw;
	margin-top: 1vh;
	padding: .6vh 1vw;
	border: 1px solid darkgrey;
	border-radius: 5px;
}
#wrapper .login-form .form-group input:focus{
	outline: none;
}
#wrapper .login-form .form-group button{
	padding: 1vh 0;
	background: black;
	color: white;
	border: none;
	border-radius: 5px;
}

#sidebar{
	width: 30vw;
	height: 100vh;
	overflow-y: scroll;
	border-right: 1px solid black;
	display: flex;
	flex-direction: column;
	font-size: 2.2vh;
}
#sidebar .sidebar-search{
	padding: 2vh;
	display: flex;
}
#sidebar .sidebar-search button{
	margin-right: 1vw;
	background: white;
	border-radius: 5px;
	border: 1px solid darkgrey;
	width: 3vw;
	cursor: pointer;
}
#sidebar .sidebar-search button:hover{
	background: #DDD;
}
#sidebar .sidebar-search input{
	width: 100%;
	padding: 1vh;
	border: 1px solid darkgrey;
	padding: 1vh 1vw;
	border-radius: 1vh;
}
#sidebar .sidebar-search input:focus{
	outline: none;
	border-color: black;
}
#sidebar ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
#sidebar li{
	cursor: pointer;
	padding: 2vh 2vw;
}
#sidebar li:hover{
	background: #DDD;
}
#sidebar .active-chat{
	background: #EEE;
}
#window{
	width: 70vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#window .chat-header{
	padding: 2vh;
	background: #303791;
	color: white;
	height: 4vh;
	display: flex;
	align-items: center;
}
#window .chat-header small{
	opacity: .6;
}
#window .chat-panel{
	height: 100%;
	padding: 2vh 2vw;
	display: flex;
	flex-direction: column;
	height: 80vh;
	overflow-y: scroll;
}
#window .chat-footer{
	display: flex;
	background: #303791;
	height: 8vh;
}
#window .chat-footer input{
	width: 100%;
	border: none;
	background: none;
	padding: 2vh 2vw;
	color: white;
}
#window .chat-footer input:focus{
	outline: none;
}
#window .chat-footer button{
	background: none;
	border: none;
	cursor: pointer;
	padding: 0 1vw;
	color: white;
}
#window .chat-footer button:hover{
	opacity: .6;
}
#window .empty-chat{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
#window .chat-message{
	display: flex;
	margin-bottom: 1vh;
	font-size: 2.4vh;
	line-height: 3.5vh;
	color: white;
	width: 50%;
}
#window .chat-message .message-wrapper{
	background: #95339e;
	border-radius: 2vh;
	border-bottom-left-radius: 0;
	padding: 2vh;
	display: flex;
	flex-direction: column;
}
#window .chat-message small{
	font-size: 1.8vh;
	opacity: .6;
}
#window .chat-message a{
	color: white;
	text-decoration: underline;
}
#window .operator-message{
	margin-left: auto;
	border-radius: 2vh !important;
	border-bottom-right-radius: 0 !important;
}
#window .operator-message-wrapper{
	background: #303791 !important;
	margin-left: auto;
	border-radius: 2vh !important;
	border-bottom-right-radius: 0 !important;
}
#window .chat-message img{
	width: 100%;
	border-radius: 2vh;
	border-bottom-left-radius: 0;
}
#window .chat-message-form{
	display: flex;
}
#window .chat-message-form i{
	background: white;
	padding: 2vh 2vw;
	font-size: 3vh;
	color: black;
	display: flex;
	border-radius: 1vh;
	justify-content: center;
	align-items: center;
	margin-right: 1vw;
	cursor: pointer;
}

#cog-panel{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
#cog-panel .cog-panel-division{
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
}
#cog-panel .division-header{
	text-align: center;
	border-bottom: 1px solid darkgrey;
}
#cog-panel .division-header i{
	cursor: pointer;
}
#cog-panel .division-entry{
	display: flex;
	padding: 2vh 2vw;
	border-bottom: 1px solid darkgrey;
	text-overflow: ellipsis;
}
#cog-panel .division-entry .division-tools{
	margin-left: auto;
}
#cog-panel .division-entry .division-tools i{
	cursor: pointer;
}