<div id="wrapper" ng-controller="chats">
	<div id="sidebar">
		<div class="sidebar-search">
			<button ng-click="logout()"><i class="fas fa-left-from-line"></i></button>
			<input type="text" placeholder="Поиск" ng-model="query" ng-change="search()">
		</div>
		<ul>
			<li ng-repeat="chat in container track by $index" ng-click="selectChat(chat)" ng-class="{'active-chat': currentChat.socket == chat.socket}">
				[[chat.user]] ([[chat.language]])
			</li>
		</ul>
	</div>
	<div id="window">
		<div class="chat-header">
			<span>[[currentChat.user]] ([[currentChat.language]]) <small>[[presense(currentChat.active)]]</small></span>
		</div>
		<div class="chat-panel">
			<div ng-repeat="message in messages" class="chat-message" ng-class="{'operator-message': message.operator}">
				<div class="message-wrapper" ng-class="{'operator-message-wrapper': message.operator}">
					<span ng-if="!message.file && !message.href">[[message.content]]</span>
					<a target="_blank" ng-if="message.href" href="[[message.content]]">Ссылка продукта</a>
					<img ng-if="message.file && !message.stream" src="[[message.content]]">
					<div class="chat-message-form" ng-if="message.file && message.stream">
						<i class="fas fa-file" ng-click="downloadFile(message.content)"></i>
					</div>
					<small>[[datetime(message.date)]]</small>
				</div>
			</div>
			<div class="empty-chat" ng-if="messages.length == 0">
				<small>Этот чат пустой ...</small>
			</div>
		</div>
		<div class="chat-footer">
			<input ng-disabled="currentChat == undefined" onkeypress="onenterkey(event)" type="text" placeholder="Сообщение" ng-model="sms">
			<button ng-click="sendMessage()"><i class="fas fa-paper-plane-top"></i></button>
		</div>
	</div>
</div>