<div id="wrapper" ng-controller="chats">
	<div id="sidebar">
		<div class="sidebar-search">
			<input type="text" placeholder="Search" ng-model="query" ng-change="search()">
		</div>
		<ul>
			<li ng-repeat="chat in container track by $index | orderBy: '-id'" ng-click="selectChat(chat)" ng-class="{'active-chat': currentChat.socket == chat.socket}">
				[[chat.socket]]
			</li>
		</ul>
	</div>
	<div id="window">
		<div class="chat-header">
			<span>[[currentChat.socket]]</span>
		</div>
		<div class="chat-panel">
			<div ng-repeat="message in messages" class="chat-message" ng-class="{'operator-message': message.operator}">
				<span>[[message.content]]</span>
			</div>
		</div>
		<div class="chat-footer">
			<input ng-disabled="currentChat == undefined" onkeypress="onenterkey(event)" type="text" placeholder="Message" ng-model="message">
			<button><i class="fas fa-paper-plane-top"></i></button>
		</div>
	</div>
</div>